.main {
  font-family: sans-serif;
  border-radius: 25px;
  background-color: #00a1e0;
  display: inline-flex;
  position: relative;
  outline: none;
}

.main > div {
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 5px;
  text-align: center;
}

.view {
  width: max-content;
  border: navy solid 3px;
  padding: 1px;
  margin: auto;
}

input {
  margin-top: 5px;
  width: 92px;
}

select {
  margin-top: 5px;
  width: 100px;
}

.details {
  width: 150px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}