.main {
  font-family: sans-serif;
  border-radius: 25px;
  background-color: #00a1e0;
  display: inline-flex;
  position: relative;
  outline: none;
}

.main > div {
  padding: 20px;
}

.view {
  width: max-content;
  border: navy solid 3px;
  padding: 1px;
  margin: auto;
}

input {
  margin-top: 5px;
  width: 92px;
}

select {
  margin-top: 5px;
  width: 100px;
}

.details {
  width: 150px;
}