.grid {
  position: fixed;
  cursor: url(data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABo0lEQVRYhb3XPUtVcRwHcB2CIIjwAavVTegFNCgGDS0tgmKgWxG9g5ZeQE66i6tTrb2AEAcHIcoabFGMcDGwxIfi03DOhZ9/j3ruPQ/f6XDPvf/v557f/xw4fRjFFn5gtq/t4IvzeY+7bQL2XMwvLGIGE7jVJGC2AFAEmmsS8a4E4h9eNAUYwUEoe4XXWMZmW4iFUPQmfH4THxpHYCqUrCTnmkfgYSj4juFWEbiB3VDwWfI8aAMxiT+h4Bvut414hN8J4l7biHEchoKv3Y4D/XUjtjBSBoH5/LfTVRETyTg+YagE4m9+fFYHIt2Ymxi4BhFTC+IxjsKiG7iTfOf5JQA4xWBVxBMch0XXcTs/Nx8ue1GWKpUHxFOchIU/4uV15areEQliKr+kZbKEftkI1zBWF2JGtrnKlnf2z89aEErMvKC8k2qIfOFDl+eq8toQ04pHUKa8kx3J86QqopvyTt72DAiI0x7LYbsSIEcMhuO1LsrhrDIgwYzJNljZ7NcK6AGxWjugC8QJHjQCCIidK8qfNVYeEAOyF55t2S27j9X4z/8DFesLL+KWtKwAAAAASUVORK5CYII=), help;
}

div {
  display: inline-block;
}