.container {
  position: relative;
}

::slotted(:not(:first-child)){
  display: none;
}

::slotted(:first-child){
  background: rgba(255,255,255,.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}