<template>
    <div class="canvas" style={canvasStyle}>
        <div class="overlay">
            <slot name="overlay"></slot>
        </div>
        
        <div for:each={canvas} for:item="row" key={row.y} class="row">
            <div for:each={row} for:item="pixel" key={pixel.key} class="cell" style={cellBorder}>
                <div class="pixel"
                    style={pixel.style}
                    data-x={pixel.x} data-y={pixel.y}
                    onclick={dispatchClick}>
                </div>
            </div>
        </div>
    </div>
</template>