<template>
    <div class="container">
        <view-div if:true={view.div} grid={grid} scale={scale} background={background} border={border}></view-div>
        <view-canvas if:true={view.canvas} grid={grid} scale={scale} background={background} border={border}></view-canvas>
        <view-pixel-svg if:true={view.pixelSvg} grid={grid} scale={scale} background={background}></view-pixel-svg>
        <view-pixel-canvas if:true={view.pixelCanvas} grid={grid} scale={scale} background={background}></view-pixel-canvas>
        <view-checkbox if:true={view.checkbox} grid={grid}></view-checkbox>
        
        <div class="overlay slds-hidden">
            <slot name="overlay" onslotchange={toggleOverlay}></slot>
        </div>
    </div>
</template>